.dashboard{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: navy;
    border-bottom: 2px double rgb(255, 255, 255);
    z-index: 10000;
}

.clout-chasers{
    display: flex;
    flex-direction: horizontal;
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
    height: 90%;
    font-size: 16px; 
    font-weight: bold;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(34, 34, 34) !important;
}