
<div class="dashboard">
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('home')">CloutChasers</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('upload')">Upload a Record</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('profile')">User Profile</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('search')">Search</button>
</div>

<router-outlet></router-outlet>