
<div class="dashboard">
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('records')">CloutChasers</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('records')">CloutChasers</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('records')">CloutChasers</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('records')">CloutChasers</button>
  <button mat-raised-button color="primary" class="clout-chasers" (click)="redirect('records')">CloutChasers</button>
</div>

<router-outlet></router-outlet>