

<body>
  <h2 style="font-size: 200%">Please fill out the details</h2>

  <label style="font-size: 160%"> Select: </label>
  <input type="text" name="Select" style="height: 30px" size="40px" />
  <br />
  <br />
  <label style="font-size: 160%"> Title: </label>
  <input
    type="text"
    name="Title"
    placeholder="Enter your video title"
    style="height: 30px"
    size="40px"
  />
  <br />
  <br />
  <label style="font-size: 160%"></label>
  <input
    type="text"
    name="Title"
    placeholder="Enter your record category"
    style="height: 30px"
    size="40px"
  />
  <br />
  <br />
  <label style="font-size: 160%">Description: </label>
  <input
    type="text"
    name="Title"
    placeholder="Enter a brief description"
    style="height: 150px"
    size="40px"
  />
  <br />
  <br />
  <label style="font-size: 160%"> Rules: </label>
  <input
    type="text"
    name="Title"
    placeholder="Enter the rules"
    style="height: 150px"
    size="40px"
  />

  <button type="submit" class="submit-btn">Submit</button>

  <div class="upload_box">
    Upload your video here:
    <input
      type="file"
      name="video"
      id="upload_input"
      accept="video/*"
      required
    />
  </div>
</body>
