mat-grid-tile{
    background-color: rgb(0, 0, 0);
}

.category-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 10vw;
    height: 10vw;
    font-size: 1vw;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: aliceblue;
    color: black;
}