h2{
	text-decoration: underline;
}


.picsum-img-wrapper{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.popular{
    background-color: black;
}

